@font-face {
  font-family: 'ColoresFont';
  src: url('../public/assets/VictorMoscoso/VICTM___.TTF') format('truetype');
}

@font-face {
  font-family: 'NormalFont';
  src: url('../public/assets/Roboto/Roboto-Black.ttf') format('truetype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;